<?php 
$db=M('Admin');
$admin=$db->where('id=1')->getField('nickname');
?>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{:U('/Admin')}">{$Think.lang._Admin_Logo_}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{:U('/Admin')}">{$Think.lang.Survey}</a></li>
            <li><a href="{:U('/Admin/Article/Article_add')}">{$Think.lang.Write}</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{$Think.lang.Manage}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{:U('/Admin/Article ')}">{$Think.lang.Article}</a></li>
                    <li><a href="{:U('/Admin/Category')}">{$Think.lang.Classify}</a></li>
                    <li><a href="{:U('/Admin/Comment ')}">{$Think.lang.Review}</a></li>
                    <li><a href="{:U('/Admin/Page')}">{$Think.lang.One_page}</a></li>
                    <li class="divider"></li>
                    <li><a href="{:U('/Admin/Menu')}">{$Think.lang.Navigation}</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{$Think.lang.Config}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{:U('/Admin/Settings')}">{$Think.lang.Basic_config}</a></li>
                    <li><a href="{:U('/Admin/Picture')}">{$Think.lang.Picture}</a></li>
                    <li><a href="{:U('/Admin/Template')}">{$Think.lang.Surface}</a></li>
                    <li><a href="{:U('/Admin/Lang')}?l={$Think.config.LANG_LIST}">{$Think.lang._Language_}</a></li>
                     

                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{$Think.lang.hi}，{$admin}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="__ROOT__">{$Think.lang.Into_web}</a></li>
                    <li><a href="{:U('Index/cache_del')}">{$Think.lang.Update_cache}</a></li>
                    <li id="aboutus_menu"><a href="{:U('/Admin/About')}">{$Think.lang.About}</a></li>
                    <li class="divider"></li>
                    <li><a href="#" data-toggle="modal" data-target="#password">{$Think.lang.Set_Password}</a></li>
                </ul>
            </li>
            <li><a href="{:U('Index/login_out')}">{$Think.lang.Sign_out}</a>
            </li>
        </ul>
    </div>
</nav>
<div style="display:none"><script src="http://s5.cnzz.com/z_stat.php?id=1253237888&web_id=1253237888" language="JavaScript"></script></div>
