<?php 
$db=M('Admin');
$admin=$db->where('id=1')->getField('nickname');
?>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{:U('/Admin')}">{$Think.lang._Admin_Logo_}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{:U('/Admin')}">概览</a></li>
            <li><a href="{:U('/Admin/Article/Article_add')}">撰写</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{:U('/Admin/Article ')}">文章</a></li>
                    <li><a href="{:U('/Admin/Category')}">分类</a></li>
                    <li><a href="{:U('/Admin/Comment ')}">评论</a></li>
                    <li><a href="{:U('/Admin/Page')}">独立页</a></li>
                    <li class="divider"></li>
                    <li><a href="{:U('/Admin/Menu')}">导航</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">配置<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{:U('/Admin/Settings')}">基本配置</a></li>
                    <li><a href="{:U('/Admin/Picture')}">图片</a></li>
                    <li><a href="{:U('/Admin/Template')}">外观</a></li>
                    <li><a href="{:U('/Admin/Lang')}">语言</a></li>
                     

                    <li class="divider"></li>
                    <li><a href="{:U('/Admin/Database')}">备份</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">您好，{$admin}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="__ROOT__">进入前台</a></li>
                    <li><a href="{:U('Index/cache_del')}">更新缓存</a></li>
                    <li id="aboutus_menu"><a href="{:U('/Admin/About')}">关于博客</a></li>
                    <li class="divider"></li>
                    <li><a href="#" data-toggle="modal" data-target="#password">修改密码</a></li>
                </ul>
            </li>
            <li><a href="{:U('Index/login_out')}">退出</a>
            </li>
        </ul>
    </div>
</nav>
