<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$Think.config.blogname}_{$Think.config.subtitle}</title>
     <!--[if lt IE 9]>
        <script src="[!JS]html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="[!CSS]normalize.css">
    <link rel="stylesheet" href="[!CSS]style.css">
    <meta name="keywords" content="{$Think.config.keywords}" />
    <meta name="description" content="{$Think.config.description}">

</head>