<include file="Public:header" />
<body>
<include file="Public:nav" />

 
 
 
  
  <div class="container">
  <!--内容开始-->
  
  <div class="page-header">
  <h2>欢迎使用 KyoMini Blog </h2>
  </div>
  <div class="MiniBox1">
  <p>这是一款基于 ThinkPHP 框架开发的极简Blog程序，稳定、安全以及简约风格一贯是KYOMINI团队宗旨！</p>
  <p>通过精心打磨的设计图形，依然是你熟悉的面孔，更多了一份成熟与贴心。每一行代码和每一个逻辑，都只为离完美更进一步。</p>
  <a href="#example" class="btn btn-info" >进入学习知识</a>
  </div>
  
  
  
  
  <div class="row">
  
  
  
  <div class="col-md-4">
   <div class="page-header miniheight1">
  <h4><span class="glyphicon glyphicon-refresh"></span> 我的数据</h4>
  

  
  </div>
  <canvas id="canvas" height="250" width="250"></canvas>
  <div class="canvascode">
  <ul>
  <li><span class="canvas1"></span>{$pagecount}项独立页</li>
    <li><span class="canvas4"></span>{$articlecount}篇文章</li>
      <li><span class="canvas3"></span>{$categorycount}个分类</li>
        <li><span class="canvas2"></span>{$commentcount}条评论</li>
  </ul>
  </div>
  </div>
  
  
  
  <div class="col-md-4">
  <div class="page-header miniheight1">
  <h4> <span class="glyphicon glyphicon-list-alt"></span> 最近文章</h4>
  </div>
  <ul>
     <foreach name='articles' item='a'>
    <li><span>{$a.time|date='Y-m-d',###}</span><a href="#">{$a.title}</a></li>
      </foreach>
  </ul>
  </div>
  
  
  
  <div class="col-md-4">
  <div class="page-header miniheight1">
  <h4>  <span class="glyphicon glyphicon-inbox"></span> 最新评论</h4>
    </div>
  <ul>
  
     <foreach name='comment' item='b'>

    <li><a href="#">[{$b.couname}]  {$b.content|substr=0,100}</a></li>
      </foreach>

  </ul>

  
  </div>
  
  
  
  
  
</div>
  
  
  
  
  
  
  
  
  
  
    
  <div class="modal fade" id="password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
      </div>
      <form method="post" action="{:U('update')}">
      <div class="modal-body">
     
   
   
   
   
   
   
   
   

   
   
   <table width="100%">
        	<tr>
            	<td width="33%" align="right"><span class="cName">登陆帐号</span></td>
                <td width="67%" style="height:65px;
                text-align:left">{$user.name}
                
                
                </td>
            </tr>
            <tr>
            	<td align="right"><span class="cName">修改您称</span></td>
                <td>      <input type="text" class="form-control miniinput2" name="nickname" value="{$user.nickname}">
</td>
            </tr>
            <tr>
            	<td align="right"><span class="cName">修改密码</span></td>
                <td>      <input type="text" class="form-control miniinput2" name="password">
</td>
            </tr>
        </table>


      </div>
      <div class="modal-footer">
    <input type="hidden" name="id" value="{$user.id}" />
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">修改</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  
    
    
    
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!--内容结束-->
    <include file="Public:Copy" />

  </div>
  
  
  



    <script src="[!Public]Js/Chart.js"></script>
    <script>
var doughnutData = [
				{
					value: {$pagecount},
					color:"#8bd7ac"
				},
				{
					value : {$articlecount},
					color : "#f78d98"
				},
				{
					value : {$categorycount},
					color : "#ffc467"
				},
				{
					value : {$commentcount},
					color : "#46BFBD"
				},

			
			];

	var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
    </script>
    <script>
	
	$('#password').modal(options);
    $('#example').popover(options);
    
    </script>

  </body>
</html>