<include file="Public:Header" />

<body>
    <include file="Public:Nav" />
    <div class="container">
        <div class="page-header">
            <h3>{$Think.lang.about_blog}</h3>
        </div>
        <div class="MiniBox2">
          <!--  <p>这是一款基与ThinkPHP3.2.2+Bootstrap3.0开发的简单博客系统，我们制作博客的初衷如何把BLOG制作更简单化，方便二次开发、操作更灵活、快捷。
                <br>KyoMini代码完全遵循Apache2开源协议，并且免费使用。</p>-->
                 <p>這是一款基與ThinkPHP3.2.2+Bootstrap3.0開發的簡單博客系統，我們制作博客的初衷如何把BLOG制作更簡單化，方便二次開發、操作更靈活、快捷。
                <br>KyoMini代碼完全遵循Apache2開源協議，並且免費使用。</p>
            <hr>
            <div id="showad" style="z-index:-9999">
            <div id="shownews" style="z-index:-9999">正在努力的获取最新消息...</div>
            </div>
             <hr>
    <!--        <h5>特别鸣谢</h5>
            <p>视觉设计师： Cotton （上海）</p>
            <p>前端设计师： Lifire （深圳）</p>
            <p>服务器支持： 茸易科技 （上海）</p>
            <p>日本语翻译： サイ エンエン （名古屋）</p>
            <p>开源代码： OneThink 及 ThinkPHP</p>-->
            <h5>特別鳴謝</h5>
            <p>視覺設計師： Cotton （上海）</p>
            <p>前端設計師： Lifire （深圳）</p>
            <p>服務器支持： 茸易科技 （上海）</p>
            <p>日本語翻譯： サイ エンエン （名古屋）</p>
            <p>開源代碼： OneThink 及 ThinkPHP</p>
        </div>
        <include file="Public:Copy" />
    </div>
    <script type="text/javascript">
$(function(){

	$("#showad").html('<iframe src="http://www.kyomini.com/update/update.js" width="100%" height="25" scrolling="no" frameborder="0" allowtransparency="true"></iframe>','UTF8');
});
</script>





</html>