<include file="Public:Header" />
<body>
    <include file="Public:Nav" />
    <div class="container">
        <div class="page-header">
            <h3>关于博客</h3>
        </div>
        <div class="MiniBox2">
            <p>这是一款基与ThinkPHP3.2.2+Bootstrap3.0开发的简单博客系统，我们制作博客的初衷如何把BLOG制作更简单化，方便二次开发、操作更灵活、快捷。
                <br>KyoMini代码完全遵循Apache2开源协议，并且免费使用。</p>
            <hr>
            <h5>特别鸣谢</h5>
            <p>视觉设计师： Cotton （上海）</p>
            <p>前端设计师： Lifire （深圳）</p>
            <p>服务器支持： Qesy （上海）</p>
            <p>日本语翻译： サイ エンエン （名古屋）</p>
            <p>韩国语翻译： 金雪花 （东京）</p>
            <p>开源代码： OneThink 及 ThinkPHP</p>
        </div>
        <include file="Public:Copy" />
    </div>
</html>