<include file="Public:Header" />

<body>
<include file="Public:Nav" />
<div class="container">
  <div class="page-header">
    <h3>{$Think.lang.about_blog}</h3>
  </div>
  <div class="MiniBox2">
    <p>Kyomini Blog程序基于ThinkPHP3.2.2 框架开发，遵循ThinkPHP的Apache2开源协议。<br>
前端框架基于Bootstrap是Twitter推出的一个用于前端开发的开源工具包。 
  <br>
  由于本程序是遵循LGPL协议保护，此程序免费给个人非盈利网站、开发学习爱好者使用。</p>
    <hr>
    <h5>特别鸣谢</h5>
    <p>视觉设计师： Cotton （上海）</p>
    <p>前端设计师： Lifire （深圳）</p>
    <p>服务器支持： 茸易科技 （上海）</p>
    <p>日本语翻译： サイ エンエン （名古屋）</p>
    <p>开源代码： OneThink 及 ThinkPHP</p>
  </div>
  <include file="Public:Copy" /> </div>
<script type="text/javascript">
$(function(){

	$("#showad").html('<iframe src="http://www.kyomini.com/update/update.js" width="100%" height="25" scrolling="no" frameborder="0" allowtransparency="true"></iframe>','UTF8');
});
</script>
</html>