<include file="./Template/Default/header.html" /> 
    
<body><span id="result"></span>
<header id="header" class="clearfix">
    <div class="container">
        <div class="col-group">
            <div class="site-name">
                <a id="logo" href="__ROOT__">
                   {$Think.config.blogname}
                </a>
                                    <h1>{$Think.config.blogname}</h1>
                            </div>
            <div>
                <nav id="nav-menu" class="clearfix">
                    <foreach name='menu' item='m'>
					
                    
                   <if condition="$m.mname eq '博客'">
                 <a href="{$m.url}" title="{$m.mname}" class="current "> {$m.mname}</a><else /> 
                  
                  <a href="__ROOT__/{$m.url}" title="{$m.mname}">{$m.mname}</a></if>
                  
                   
                    </foreach>
				</nav>
            </div>
        </div>
    </div>
</header><div id="body">
    <div class="container">
        <div class="col-group"><div class="col-8" id="main">
	<div class="res-cons">
		<article class="post">
			<header>
				<h1 class="post-title">{$blog.title}</h1>
			</header>
			<date class="post-meta">
			
                
                {$blog.time|date='m.d, Y',###}
                		</date>
			<div class="post-content">
				{$blog.content|htmlspecialchars_decode}
			</div>
		</article>
		<div id="comments">
        	<span class="widget-title">仅有 {$comcount} 条评论</span>
    <ol class="comment-list">
    
     <foreach name='com' item='com'>

    <li id="comment-29" class="comment-body comment-parent comment-odd">
    <div class="comment-author">
    <cite class="fn">
    {$com.couname} |     <span>{$com.time|date='F d Y',###} </span>
</cite>
    </div>
    <div class="comment-meta">
    </div>
    
    <div class="comment-content">
    <p>{$com.content}</p>
    </div>
    </li>
    </foreach>
    
    
    
</ol>                <div id="respond-post-7" class="respond">
        <div class="cancel-comment-reply">
        <a id="cancel-comment-reply-link" href="http://pickcho.com/archives/graduation2/#respond-post-7" rel="nofollow" style="display:none" onClick="return TypechoComment.cancelReply();">取消回复</a>        </div>
    	<span id="response" class="widget-title">添加新评论</span>
    	<form method="post" action="{:U('add')}" id="comment-form">
			<div class="col1">
			<p>
                <textarea rows="9" cols="50" name="content" class="textarea"></textarea>
            </p>
			</div>
			<div class="col2">
                		<p>
                <label for="author" class="required">称呼</label>
    			<input type="text" name="couname" id="author" class="text" value="" />
    		</p>
    		<p>
                <label for="mail" class="required">邮箱</label>
    			<input type="email" name="email" id="mail" class="text" value="" />
    		</p>
            <p>
            <label for="verify" class="required">验证码</label>
        <input type="verify" class="text" name="verify" style="height:20px;
        margin-bottom:8px;
        padding-left:60px;
        width:135px;" value="" />
        <img src="{:U('verify')}" class="verify" onclick='this.src=this.src+"?"+Math.random()'>
    		</p>
    	
                		<p>
                 <input type="hidden" name="aid" value="{$blog.aid}">

                <button type="submit" class="submit">提交评论</button>
            </p>
			</div>
			<div class="clear"></div>
    	</form>
    </div>
    </div>	</div>
</div>
<div id="secondary">
	<include file="./Template/Default/single.html" />
			</section>
			
</div>		</div>
    </div>
</div>
<include file="./Template/Default/foother.html" />
</body>
</html>