<include file="./Template/Default/header.html" />
<body>
<header id="header" class="clearfix">
  <div class="container">
    <div class="col-group">
      <div class="site-name"> <a id="logo" href="__ROOT__"> {$Think.config.blogname} </a>
        <h1>{$Think.config.blogname}</h1>
      </div>
      <div>
        <nav id="nav-menu" class="clearfix">
          <foreach name='menu' item='m'> 
          <a class="
          <if condition='($m.mname eq 首页)'>current</if>" href="{$m.url}"  title="{$m.mname}">{$m.mname}</a> 
          </foreach>
        </nav>
        
      </div>
    </div>
  </div>
</header>
<div id="body">



  <div class="container">
    <div class="col-group">
      <div class="col-8" id="main">
        <div class="res-cons">
          <foreach name='list' item='list'>
            <article class="post">
              <header>
              <h2 class="post-title"> <a href="{:U('/content/'.$list['aid'])}">{$list.title}</a> </h2>
              </heaer>
              <date class="post-meta"> {$list.time|date='F,d Y',###} | <a href="{:U('/List/'.$list['cid'])}">{$list.cname}</a> </date>
              <div class="post-content"> {$list.content|htmlspecialchars_decode|subtext=300} </div>
            </article>
          </foreach>
          {$page} </div>
      </div>
      <div id="secondary"> 
        <include file="./Template/Default/single.html" />
       </div>
    </div>
  </div>
</div>
</div>
<include file="./Template/Default/foother.html" />
</body>
</html>