<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    	<title>rr - Cho's</title>
        <!--[if lt IE 9]>
        <script src="js/html5shiv_2.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/normalize_2.css">
    <link rel="stylesheet" href="css/style_2.css">
    <meta name="keywords" content="rr" />
<link rel="pingback" href="http://pickcho.com/action/xmlrpc" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://pickcho.com/action/xmlrpc?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://pickcho.com/action/xmlrpc?wlw" />
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://pickcho.com/feed/search/rr/" />
<link rel="alternate" type="application/rdf+xml" title="RSS 1.0" href="http://pickcho.com/feed/atom/search/rr/" />
<link rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="http://pickcho.com/feed/atom/search/rr/" />
</head>
<body>
<header id="header" class="clearfix">
    <div class="container">
        <div class="col-group">
            <div class="site-name">
                <a id="logo" href="http://pickcho.com/">
                    Cho<span>'s</span>
                </a>
                            </div>
            <div>
                <nav id="nav-menu" class="clearfix">
                    <a class=" " href="http://pickcho.com/">博客</a>
															<a href="http://pickcho.com/archives/" title="归档">归档</a>
										<a href="http://pickcho.com/about/" title="关于">关于</a>
									</nav>
            </div>
        </div>
    </div>
</header>
<div id="body">
    <div class="container">
        <div class="col-group"><div class="col-8" id="main">
	<div class="res-cons">
        <h3 class="archive-title">包含关键字 rr 的文章		</h3>
                    <article class="post">
                <h2 class="post-title">没有找到内容</h2>
            </article>
                	</div>
</div>
<div id="secondary">
	<section class="widget">
        <form id="search" method="post" action="./">
			<input type="text" name="s" class="text" placeholder="搜索..." />
			<button type="submit" class="submit icon-search">搜索</button>
        </form>
    </section>
	<section class="widget">
		<h3 class="widget-title">最新文章</h3>
		<ul class="widget-list">
		<li><a href="http://pickcho.com/archives/graduation2/">毕业季（二）</a></li>
<li><a href="http://pickcho.com/archives/graduation/">毕业季（一）</a></li>
<li><a href="http://pickcho.com/archives/apr-days/">四月</a></li>
		</ul>
	</section>
	<section class="widget">
		<h3 class="widget-title">文章归档</h3>
        <ul class="widget-list">
            <li><a href="http://pickcho.com/2014/05/">May 2014</a></li>
<li><a href="http://pickcho.com/2014/04/">April 2014</a></li>
        </ul>
	</section>
</div>		</div>
    </div>
</div>
<footer id="footer">
	<div class="container">
		&copy; 2014 <a rel="nofollow" href="http://pickcho.com/">Cho's</a>.
	</div>
</footer>
</body>
</html>