<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="9" />
    <title>{$Think.config.blogname}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="[!CSS]style.css">
	<!--[if lt IE 9]>
	<script src="[!JS]html5.js"></script>
	<script src="[!JS]css3-mediaqueries.js"></script>
	<![endif]-->
    <script src="[!JS]jquery-1.11.0.min.js"></script>
    <script src="[!JS]jquery.mCustomScrollbar.concat.min.js"></script>
	<link rel="stylesheet" href="[!CSS]jquery.mCustomScrollbar.css">
</head>
<body>
		<div class="content mCustomScrollbar">
        
        <foreach name='list' item='list'>
				<h2>{$list.title}</h2>
				<hr />
                <div id="ShowContent">
				<p>{$list.content}</p>
				</div>
                <hr />
                </foreach>

				<p>{$page}</p>
		</div>
<div class="foother">
        <div class="f_left">
            <p>Copyright © 2014 - 2015 You Name, All Rights Reserved</p>
            <p>Powered by <a href="http://www.kyomini.com">KyoMini</a></p>
        </div>
        <div class="f_right">
        <img src="[!IMG]system.png" width="18" height="16"  title="设置" id="open"/> 
            <ul>
               <li><a href="#">搜索</a></li>
               <li><a href="javascript:zh_tran('s');" id="zh_click_s">简体</a></li>
               <li><a href="javascript:zh_tran('t');" id="zh_click_t">繁体</a></li>
               <li><a href="javascript:setFont(fsize+=2)" class="link4">放大</a></li>
               <li><a class="link4" href="javascript:setFont(fsize=18)">正常</a></li>
               <li><a href="javascript:setFont(fsize-=2)" class="link4">缩小</a></li>
               <li><a href="__ROOT__/admin">撰写</a></li>
            </ul>
        </div>
</div>


<script>window.jQuery || document.write('<script src="[!JS]jquery-1.11.0.min.js"><\/script>')</script>
<script src="[!JS]Chinese.js"></script>
<script>
	(function($){
		$(window).load(function(){
			$("#content-1").mCustomScrollbar({
				theme:"minimal"
			});	
		});
	})(jQuery);
	$(document).ready(function(){
		$("#open").click(function(){
	   $(".f_right ul").slideToggle("slow");
	 });
	 });
	</script>
</body>
</html>