<include file="Public:header" />
<body>
<html:import type="js" file="Js.Ajax.ThinkAjax" />
<include file="Public:nav" /> <span id="result"></span>

<div class="container">
  <div class="page-header">
    <h3>{$Think.lang.Picture}</h3>
  </div>
  <form class="form-horizontal" role="form" method="post" action="{:U('Update')}" id="forms">
    <div class="MiniBox2">
      <label for="exampleInputEmail1">{$Think.lang.Picture}{$Think.lang.Format}</label>
      <!--|implode=',',###-->
      <input type="text" class="form-control miniinput" name="mi_exts" value="{$Think.config.mi_exts}">
   <label for="exampleInputEmail1">{$Think.lang.Picture}{$Think.lang.Size}</label>
      <input type="text" class="form-control miniinput"  name="mi_maxSize" value="{$Think.config.mi_maxSize}">
      <!--   <label for="exampleInputEmail1">{$Think.lang.Picture}{$Think.lang.Maximumwidth}</label>
      <input type="text" class="form-control miniinput" name="mi_thumbMaxWidth" value="{$Think.config.mi_thumbMaxWidth}">
      <label for="exampleInputEmail1">{$Think.lang.Picture}{$Think.lang.Maximumheight}</label>
      <input type="text" class="form-control miniinput" name="mi_thumbMaxHeight" value="{$Think.config.mi_thumbMaxHeight}">-->
      <button type="submit" class="btn btn-info ">{$Think.lang._update_}{$Think.lang.Picture}{$Think.lang.Config}</button>
    </div>
  </form>
    <include file="Public:Copy" /></div>
<script src="[!Public]Js/jquery.form.js"></script> 
<script language="javascript" type="text/javascript">
	$('#forms').ajaxForm({
	  success:function(data){
		  var Mini = "";
		  if(data.status == 1){
			 Mini = "<div class='alert alert-success'>"+data.info+"</div>";
			 }else{
				 Mini = "<div class='alert alert-danger'>"+data.info+"</div>";
				 }
		  $('#result').html(Mini).show();
		  location=location;
		  setTimeout(function(){$('#result').html('').fadeOut();},3000);
		 
		  },
	  dataType:'json'
	  }); 
</script>

</body>
</html>