<include file="Public:header" />
<body>
<include file="Public:nav" />
<span id="result"></span>
<div class="container">
  <div class="page-header">
    <h3>{$Think.lang.Surface}</h3>
  </div>
  <form class="form-horizontal" role="form" method="post" action="{:U('Update')}" id="forms">
    <div class="MiniBox2">
      <label for="exampleInputEmail1">{$Think.lang.Blog_theme}</label>
      <input type="text" class="form-control miniinput" name="template" value="{$Think.config.template}">
      <label for="exampleInputEmail1">{$Think.lang.Home_page}</label>
      <input type="text" class="form-control miniinput"  name="PAGESIZE" value="{$Think.config.PAGESIZE}">
      <label for="exampleInputEmail1">{$Think.lang.List_page}</label>
      <input type="text" class="form-control miniinput" name="LISTPAGESIZE" value="{$Think.config.LISTPAGESIZE}">
      <button type="submit" class="btn btn-info " >{$Think.lang.Update_set}</button>
    </div>
  </form>  
  <include file="Public:Copy" />
  </div>
<script src="[!Public]Js/jquery.form.js"></script> 
<script language="javascript" type="text/javascript">
	$('#forms').ajaxForm({
	  success:function(data){
		  var Mini = "";
		  if(data.status == 1){
			 Mini = "<div class='alert alert-success'>"+data.info+"</div>";
			 }else{
				 Mini = "<div class='alert alert-danger'>"+data.info+"</div>";
				 }
		  $('#result').html(Mini);
		  setTimeout(function(){$('#result').html('').fadeOut();},3000);
		  },
	  dataType:'json'
	  }); 
</script>
</body>
</html>