<include file="Public:Header" />
<body>
<include file="Public:Nav" />
<div class="container"> 
  <!--内容开始-->
  
  <div class="page-header">
    <h3>{$Think.lang.Add_onepage}</h3>
  </div>
  <div class="MiniBox2">
    <form role="form" method="post" action="{:U('add')}">
      <div class="MiniBox2_left">
        <input type="text" class="form-control miniinput" placeholder="{$Think.lang._name_}" name="title"/>
      </div>
<br>


      <textarea class="form-control miniinput3" rows="20" id="editor_id" name="content"></textarea> 
      <input type="text" class="form-control miniinput" placeholder="{$Think.lang._biaozhi_}" name="urlname" style="margin-top:20px" >

      <input type="text" class="form-control miniinput" placeholder="{$Think.lang._description_}"  name="keywords"/>
      <input type="text" class="form-control miniinput" placeholder="{$Think.lang._key_}" name="description"/>
      
      <button type="submit" class="btn btn-info minibtn">{$Think.lang._release_}</button>
      <button type="reset" class="btn btn-info minibtn">{$Think.lang._rewrite_}</button>
    </form>
  </div>
  
  <!--内容结束--> 
  <include file="Public:Copy" /> </div>

<script charset="utf-8" src="[!Public]editor/kindeditor.js"></script> 
<script charset="utf-8" src="[!Public]editor/lang/zh_CN.js"></script> 
<script>
          var editor;
			KindEditor.ready(function(K) {
				
				
				editor = K.create('textarea[name="content"]', {
				uploadJson : '[!Public]editor/php/upload_json.php',
				fileManagerJson : '[!Public]editor/php/file_manager_json.php',               
				themeType : 'simple',
				 langType:'{$Think.config.LANG_LIST}', 
				allowFileManager : false,
				allowPreviewEmoticons : true,//远程图片关闭
				allowImageUpload : true, //显示上传图片按钮
				afterBlur:function(){this.sync();},
				items : ['source', '|', 'fullscreen', 'undo', 'redo', 'print', 'cut', 'copy', 'paste',
'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
'superscript',
'title', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
'italic', 'underline', 'strikethrough', 'removeformat', '|', 'image',
'flash', 'media', 'advtable',  'emoticons', 'link', 'unlink', 
'|', 'baidumap','code','about'],

});
});
</script>
</html>